.container {
    width: 600px;
    padding: 4px;
    border: 1px solid;
    margin-bottom: 8px;
}

.wrapper {
    width: 600px;
    display: flex;
    padding: 4px;
    border: 1px solid;
    margin-bottom: 8px;
}

.form-group {
    margin-bottom: 4px;
}